pandas==2.1.4
requests>=2.31.0
beautifulsoup4==4.12.2
python-dotenv==1.0.0
aiohttp==3.9.1
# whatcms==1.0.3
tqdm==4.66.1
markdownify>=0.11.6
selenium>=4.15.2
webdriver-manager>=4.0.1
python-dotenv>=1.0.0
supabase

python-dotenv
langchain-groq
crawl4ai
langchain
google-generativeai
json5